<nav>
        <div class="topnav">
          <a class="<%= page === 'index' ? 'active' : ''%>" href="<%= page === 'index' ? '#' : 'index'%>" >Home</a>
          <!--subnav-->
          <div class="subnav">
            <button class="subnavbtn">
              Martial-arts<i class="fa fa-caret-down"></i>
            </button>
            <div class="subnav-content">
              <a class="<%= page === 'post1' ? 'active' : ''%>" href="<%= page === 'post1' ? '#' : 'post1'%>">BJJ</a>
              <a class="<%= page === 'post2' ? 'active' : ''%>" href="<%= page === 'post2' ? '#' : 'post2'%>">Kyokushin</a>
              <a class="<%= page === 'post3' ? 'active' : ''%>" href="<%= page === 'post3' ? '#' : 'post3'%>">Muaythai</a>
            </div>
          </div>
          <!-- <a href="./posts/mart.html">Martial-arts</a> -->
          <a class="<%= page === 'contact' ? 'active' : ''%>" href="<%= page === 'contact' ? '#' : 'contact'%>">Contact</a>
          <a class="<%= page === 'about' ? 'active' : ''%>" href="<%= page === 'about' ? '#' : 'about'%>">About</a>
          <img id="baricon" src="./images/icon.jpg" alt="Martial art icon" />
        </div>
      </nav>